<div class="row">
  <div class="col-lg-9 col-md-12">
    <div class="row">
      <div class="col-md-6 col-xs-12 cardMargin">
        <app-event-card></app-event-card>
      </div>
      <div class="col-md-6 col-xs-12 cardMargin">
        <app-news-card></app-news-card>
      </div>
      <div class="col-md-6 col-xs-12 cardMargin">
        <app-turer></app-turer>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12">
    <h1>hei</h1>
    <p>dette skal være sidebaren</p>
  </div>
</div>


