<div class="fixed-top nav-container">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4" style="background-color: #202020;">
      <h5 class="text-white h4">Finn din vei her</h5>
      <a routerLink="event" class="btn btn-primary">Eventer</a>
      <a routerLink="nyheter" class="btn btn-primary">Nyheter</a>
      <a routerLink="/" class="btn btn-primary">Turer</a>
    </div>
  </div>
  <nav class="navbar navbar-dark">
    <button (click)="toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="hamburger"></div>
      <div class="hamburger"></div>
      <div class="hamburger"></div>
    </button>
    <hr>
    <a routerLink="" (click)="toTop()" class="navbar-brand"><i class="fas fa-angle-left set-color"></i> HOME <i class="fas fa-angle-right set-color"></i></a>
  </nav>
</div>
