<div *ngIf="items?.length > 0;else noItems">

</div>
  <div  class="row">
    <div *ngFor="let item of items">
    <div *ngIf="item._fl_meta_.status == 'publish' && item._fl_meta_.schema == 'nyheter'" class="col-md-6 col-xs-12 cardMargin">
      <div  class="card" style="width: 18rem;">
        <img src="{{ item.urlBilde }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.overskrift }}</h5>
          <p class="card-text">{{ item.intro }}</p>
          <a [routerLink]="['', item.id]" class="btn btn-primary">Go somewhere</a>

        </div>
      </div>
    </div>
  </div>
  </div>
<ng-template #noItems>
  <hr>
  <h2>Beklager det er ingen events her</h2>
</ng-template>
